*{
  margin: 0;
  padding: 0
}
@media only screen and (max-width: 1033px) {
    .media-change{
      display: flex; 
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
      text-align: center;
    } 
    .btn-create{
        width: 80% !important;
        display: flex;
        justify-content: center;
    }
    
}
@media  screen and (max-width: 870px) {
  .main-container-intro{
    flex-wrap: wrap;
  }
  .line-container{
    display: none;
  }.form-side-image{
    display: none;
  }.main-first-component{
    margin-right: 12px;
  }
  .container-contaent-intero{
    width: 100%;
   min-height: 250px;
   display: flex;
   justify-content: center;
  }
  .img-revers{
    transform: rotate(90deg);
   width: 100%;
  }
}



@media screen and (max-width: 496px) {
  .languageType{
    width: 100%;
  }
}
@media  screen and (max-width: 580px) {
.login-container{
  width: 90%;
}
GoogleLogin {
  width: 200px !important;
}
}
.container {
  max-width: 50%;  
  margin: 40px auto;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
  
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }
}